.git
.github
.gitignore
.env
node_modules
vendor
storage/app/*
!storage/app/geoip
!storage/app/geoip/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/storage
bootstrap/cache/*
tests
phpunit.xml
docker-compose.yml
Dockerfile
README.md 